//colors
$black: rgba(0,0,0,1); //#000
$white: rgba(255,255,255,1); //#fff
$yellow: rgba(254,224,144,1); //#fee090
$blue: rgba(38,90,136,1); //#265a88
$light-blue: rgba(51,122,183,1); //#337ab7
$gray: rgba(33,33,33,1); //#212121
$burnt-orange: rgba(165,113,42,1); //A5712A
$green: rgba(25,135,84,1); //#198754;
$red: rgba(220,53,69,1); //#DC3545