#gameOver {
  visibility: hidden;
  background-color: $blue;
  color: $white;
  position: absolute;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-radius: 10px;
  width: 98vw;
  height: 93vh;
  z-index: 1;
  margin: auto;
  padding: 50px 20px;
  h2 {
    font-size: 15vw;
  }
  #resultText {
    font-size: 7vw;
  }
  #score {
    font-size: 10vw;
  }
  span#gameScore {
    display: block;
  }
  .btn {
    width: 100%;
    background-color: $yellow;
    color: $gray;
    border-color: $yellow;
    font-size: 2rem;
  }
  .game-over-option {
    width: 100%;
  }
}


@media (min-width: 992px) {
  #gameOver {
    #resultText {
      font-size: 3rem;
    }
    #score {
      font-size: 2rem;
    }
    span#gameScore {
      display: inline;
    }
  }
}

@media (min-width: 1200px) {
  #gameOver {
    .btn {
      width: 650px;
    }
    .game-over-option {
      width: auto;
    }
  }
}
