body {
    background-image:url('../img/background.png');
}
.logo svg {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50vh;
}
header {
    flex: 0 0 auto;
}
main {
    flex: 1 0 auto;

}
#pageBlur {
    background-color: #fee090;
    border: 1px solid #212121;
    border-radius: 25px;
}
#pageBlur {
  background-color: #fee090;
  border: 1px solid #212121;
  border-radius: 25px;
  margin: 10px 15px;
  padding: 15px 30px;
  min-height: calc(100vh - 30px);
}

@media (min-width: 768px) {
    #pageBlur {
        margin: 25px 50px;
        padding: 30px 50px;
        min-height: calc(100vh - 60px);
    }
}

/* Buttons */
.btn-puzzle {
    background-color: #265a88;
    border-color: #265a88;
    font-size: 2rem;
    width: 100%;
}
.btn-puzzle:hover {
    background-color: #337ab7;;
}
.puzzle-container {
    row-gap: 10px;
}

@media (min-width: 768px) {
    .flex-item.puzzle {
        flex: 1 0 calc(50% - 20px);
    }
    .puzzle-container {
        column-gap: 10px;
    }
}
