/* The Modal (background) */
.modal {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  background-color: $yellow;
}


h5.modal-title {
  font-size: 3rem;
}

button.modal-close {
  background: none;
  border: none;
}

.modal-body {
  font-size: 2rem;
}

.modal-header {
  border-color: black;
}

.modal-footer {
  border-color: transparent;
}