svg.logo {
    .line {
    fill:none;
    stroke:#231f20;
    stroke-miterlimit:10;
    stroke-width:.5px;
    }

    text {
    fill:#212121;
    font-family:Arial, Helvetica, sans-serif;
    font-size:6px;
    }

    .eye-pupil {
    fill:#212121;
    stroke:#231f20;
    stroke-miterlimit:10;
    stroke-width:.25px;
    }

    .eye-whites {
    fill:#fff;
    stroke:#212121;
    stroke-miterlimit:10;
    stroke-width:.25px;
    }

    .hamburger {
    fill: $brown-hamburger-bun;
    stroke:#a5712a;
    stroke-miterlimit:10;
    }
}

.brand svg {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 50vh;
}
