.brand .logo {
    width: auto;
    max-width: 100%;
    height: 50vh;
    max-height: 100%;
}
.puzzle-container {
    row-gap: 10px;
}
@media (min-width: 768px) {
    .flex-item.puzzle {
        flex: 1 0 calc(50% - 20px);
    }
    .puzzle-container {
        column-gap: 10px;
    }
}
