.table-results {
  font-size: 1.8rem;
  thead {
    background: $blue;
    color: $white;
  }
  tr {
    border-color: transparent;
  }
  caption {
    color: $gray;
    font-weight: 300;
  }
}

svg {
  &.win-icon {
    fill: $green;
  }
  &.lose-icon {
    fill: $red;
  }
}

.total-user-score {
  font-size: 3.5rem;
}

@media (min-width: 1200px) {
  table#gameResultsTable {
    width: 50vw;
    margin: auto;
  }
}