.text-2rem {
  font-size: 1.8rem;
}

::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

::-moz-placeholder {
  color: rgb(0, 0, 0);
}

:-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

::-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

::placeholder {
  color: rgb(0, 0, 0);
}

header, footer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 10%;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
}

main {
  -webkit-box-flex: 8;
  -webkit-flex: 8 8 80%;
      -ms-flex: 8 8 80%;
          flex: 8 8 80%;
}

.copyright {
  font-size: 1.7rem;
}

body {
  background-color: #212121;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23616161' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

#pageContainer {
  background-color: rgb(254, 224, 144);
  border: 1px solid rgb(33, 33, 33);
  border-radius: 25px;
  margin: 10px 15px;
  padding: 15px 30px;
  min-height: calc(100vh - 30px);
}

@media (min-width: 992px) {
  #pageContainer {
    margin: 25px 50px;
    padding: 30px 50px;
    min-height: calc(100vh - 60px);
  }
}
body {
  overflow: hidden;
}

.game #snacman {
  position: absolute;
  width: auto;
  height: 18vh;
  max-width: 100%;
  max-height: 100%;
}
.game #board div div {
  background-color: rgb(254, 224, 144);
  padding: 0;
  overflow: hidden;
}
.game img {
  width: 50px;
  height: 50px;
}
.game .cell p {
  font-size: 1.5rem;
}

#playView {
  background-color: rgb(254, 224, 144);
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

#gameLivesRemaining, #gameTimer, #gamePointTotal, #backButton {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 10%;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
}

#gameTitle {
  -webkit-box-flex: 4;
  -webkit-flex: 4 60%;
      -ms-flex: 4 60%;
          flex: 4 60%;
}

#gameTitle {
  font-size: 2.75rem;
  text-align: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-transform: uppercase;
  font-weight: 700;
}

#gameBoard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-container .cell {
  width: 19.4vw;
  height: 21.25vh;
  -webkit-box-shadow: 2px 0 0 0 rgb(0, 0, 0), 0 2px 0 0 rgb(0, 0, 0), 2px 2px 0 0 rgb(0, 0, 0), 2px 0 0 0 rgb(0, 0, 0) inset, 0 2px 0 0 rgb(0, 0, 0) inset;
          box-shadow: 2px 0 0 0 rgb(0, 0, 0), 0 2px 0 0 rgb(0, 0, 0), 2px 2px 0 0 rgb(0, 0, 0), 2px 0 0 0 rgb(0, 0, 0) inset, 0 2px 0 0 rgb(0, 0, 0) inset;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.play-view footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.play-view main {
  height: 90vh;
}
.play-view header {
  height: 10vh;
}
.play-view table {
  margin: 0 auto;
}

img.life-remaining {
  position: relative;
}

td {
  width: 19.4vw;
  height: 20vh;
  border: 2px solid rgb(0, 0, 0);
  overflow: hidden;
}

.progress {
  background-color: rgb(33, 33, 33);
}

a.btn-puzzle {
  background-color: rgb(38, 90, 136);
  border-color: rgb(38, 90, 136);
  font-size: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.btn-puzzle:hover {
  background-color: rgb(51, 122, 183);
}

a.btn-puzzle svg {
  fill: white;
  width: 35px;
  height: 35px;
  margin-left: 0;
}

svg.logo .limb, svg#snacman .limb {
  fill: none;
  stroke: rgb(33, 33, 33);
  stroke-miterlimit: 10;
  stroke-width: 0.5;
}
svg.logo text, svg#snacman text {
  fill: rgb(33, 33, 33);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6px;
}
svg.logo .eye-pupil, svg#snacman .eye-pupil {
  fill: rgb(33, 33, 33);
  stroke: rgb(33, 33, 33);
  stroke-miterlimit: 10;
  stroke-width: 0.25;
}
svg.logo .eye-white, svg#snacman .eye-white {
  fill: rgb(255, 255, 255);
  stroke: rgb(33, 33, 33);
  stroke-miterlimit: 10;
  stroke-width: 0.25;
}
svg.logo .mouth, svg#snacman .mouth {
  fill: rgb(165, 113, 42);
  stroke: rgb(165, 113, 42);
  stroke-miterlimit: 10;
}

.brand .logo {
  width: auto;
  max-width: 100%;
  height: 50vh;
  max-height: 100%;
}

.puzzle-container {
  row-gap: 10px;
}

@media (min-width: 768px) {
  .flex-item.puzzle {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 calc(50% - 20px);
        -ms-flex: 1 0 calc(50% - 20px);
            flex: 1 0 calc(50% - 20px);
  }

  .puzzle-container {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
#gameOver {
  visibility: hidden;
  background-color: rgb(38, 90, 136);
  color: rgb(255, 255, 255);
  position: absolute;
  top: 3vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  border-radius: 10px;
  width: 98vw;
  height: 93vh;
  z-index: 1;
  margin: auto;
  padding: 50px 20px;
}
#gameOver h2 {
  font-size: 15vw;
}
#gameOver #resultText {
  font-size: 7vw;
}
#gameOver #score {
  font-size: 10vw;
}
#gameOver span#gameScore {
  display: block;
}
#gameOver .btn {
  width: 100%;
  background-color: rgb(254, 224, 144);
  color: rgb(33, 33, 33);
  border-color: rgb(254, 224, 144);
  font-size: 2rem;
}
#gameOver .game-over-option {
  width: 100%;
}

@media (min-width: 992px) {
  #gameOver #resultText {
    font-size: 3rem;
  }
  #gameOver #score {
    font-size: 2rem;
  }
  #gameOver span#gameScore {
    display: inline;
  }
}
@media (min-width: 1200px) {
  #gameOver .btn {
    width: 650px;
  }
  #gameOver .game-over-option {
    width: auto;
  }
}
@-webkit-keyframes die {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes die {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.die-animation {
  -webkit-animation-name: die;
          animation-name: die;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 145px -103.3333333333px hsl(144deg, 100%, 50%), -117px -293.3333333333px hsl(240deg, 100%, 50%), -207px -23.3333333333px hsl(337deg, 100%, 50%), -232px -241.3333333333px hsl(318deg, 100%, 50%), 163px 58.6666666667px hsl(187deg, 100%, 50%), 246px -158.3333333333px hsl(199deg, 100%, 50%), -116px -224.3333333333px hsl(332deg, 100%, 50%), 53px 52.6666666667px hsl(282deg, 100%, 50%), 49px -307.3333333333px hsl(281deg, 100%, 50%), 150px 55.6666666667px hsl(40deg, 100%, 50%), -179px -148.3333333333px hsl(172deg, 100%, 50%), 130px -13.3333333333px hsl(71deg, 100%, 50%), -23px 66.6666666667px hsl(356deg, 100%, 50%), 227px -86.3333333333px hsl(341deg, 100%, 50%), -148px -84.3333333333px hsl(161deg, 100%, 50%), -6px -76.3333333333px hsl(337deg, 100%, 50%), -165px -203.3333333333px hsl(41deg, 100%, 50%), -241px -39.3333333333px hsl(85deg, 100%, 50%), 169px -226.3333333333px hsl(265deg, 100%, 50%), -236px -189.3333333333px hsl(44deg, 100%, 50%), -177px -192.3333333333px hsl(347deg, 100%, 50%), 246px -158.3333333333px hsl(237deg, 100%, 50%), -65px -47.3333333333px hsl(21deg, 100%, 50%), 175px -217.3333333333px hsl(34deg, 100%, 50%), 201px -261.3333333333px hsl(233deg, 100%, 50%), -12px -296.3333333333px hsl(215deg, 100%, 50%), 78px -35.3333333333px hsl(32deg, 100%, 50%), -192px 47.6666666667px hsl(209deg, 100%, 50%), -182px -21.3333333333px hsl(47deg, 100%, 50%), 146px -303.3333333333px hsl(221deg, 100%, 50%), 99px -234.3333333333px hsl(55deg, 100%, 50%), -22px -77.3333333333px hsl(344deg, 100%, 50%), 90px -200.3333333333px hsl(339deg, 100%, 50%), 8px 57.6666666667px hsl(139deg, 100%, 50%), -116px -113.3333333333px hsl(225deg, 100%, 50%), -51px -97.3333333333px hsl(256deg, 100%, 50%), 54px -110.3333333333px hsl(66deg, 100%, 50%), 134px -242.3333333333px hsl(79deg, 100%, 50%), 151px -43.3333333333px hsl(330deg, 100%, 50%), -171px -235.3333333333px hsl(355deg, 100%, 50%), -140px -43.3333333333px hsl(199deg, 100%, 50%), -60px 60.6666666667px hsl(159deg, 100%, 50%), -13px -282.3333333333px hsl(297deg, 100%, 50%), -140px -122.3333333333px hsl(25deg, 100%, 50%), 217px -167.3333333333px hsl(267deg, 100%, 50%), 4px -97.3333333333px hsl(292deg, 100%, 50%), -107px -239.3333333333px hsl(83deg, 100%, 50%), 244px 14.6666666667px hsl(90deg, 100%, 50%), -120px -167.3333333333px hsl(7deg, 100%, 50%), 221px -34.3333333333px hsl(144deg, 100%, 50%), 224px -249.3333333333px hsl(215deg, 100%, 50%), -191px -106.3333333333px hsl(266deg, 100%, 50%), -114px -75.3333333333px hsl(171deg, 100%, 50%), -127px -224.3333333333px hsl(323deg, 100%, 50%), 131px 49.6666666667px hsl(37deg, 100%, 50%), 222px -152.3333333333px hsl(232deg, 100%, 50%), -9px -165.3333333333px hsl(29deg, 100%, 50%), -140px -45.3333333333px hsl(327deg, 100%, 50%), -106px -249.3333333333px hsl(152deg, 100%, 50%), -45px -102.3333333333px hsl(276deg, 100%, 50%), 149px -17.3333333333px hsl(204deg, 100%, 50%);
            box-shadow: 145px -103.3333333333px hsl(144deg, 100%, 50%), -117px -293.3333333333px hsl(240deg, 100%, 50%), -207px -23.3333333333px hsl(337deg, 100%, 50%), -232px -241.3333333333px hsl(318deg, 100%, 50%), 163px 58.6666666667px hsl(187deg, 100%, 50%), 246px -158.3333333333px hsl(199deg, 100%, 50%), -116px -224.3333333333px hsl(332deg, 100%, 50%), 53px 52.6666666667px hsl(282deg, 100%, 50%), 49px -307.3333333333px hsl(281deg, 100%, 50%), 150px 55.6666666667px hsl(40deg, 100%, 50%), -179px -148.3333333333px hsl(172deg, 100%, 50%), 130px -13.3333333333px hsl(71deg, 100%, 50%), -23px 66.6666666667px hsl(356deg, 100%, 50%), 227px -86.3333333333px hsl(341deg, 100%, 50%), -148px -84.3333333333px hsl(161deg, 100%, 50%), -6px -76.3333333333px hsl(337deg, 100%, 50%), -165px -203.3333333333px hsl(41deg, 100%, 50%), -241px -39.3333333333px hsl(85deg, 100%, 50%), 169px -226.3333333333px hsl(265deg, 100%, 50%), -236px -189.3333333333px hsl(44deg, 100%, 50%), -177px -192.3333333333px hsl(347deg, 100%, 50%), 246px -158.3333333333px hsl(237deg, 100%, 50%), -65px -47.3333333333px hsl(21deg, 100%, 50%), 175px -217.3333333333px hsl(34deg, 100%, 50%), 201px -261.3333333333px hsl(233deg, 100%, 50%), -12px -296.3333333333px hsl(215deg, 100%, 50%), 78px -35.3333333333px hsl(32deg, 100%, 50%), -192px 47.6666666667px hsl(209deg, 100%, 50%), -182px -21.3333333333px hsl(47deg, 100%, 50%), 146px -303.3333333333px hsl(221deg, 100%, 50%), 99px -234.3333333333px hsl(55deg, 100%, 50%), -22px -77.3333333333px hsl(344deg, 100%, 50%), 90px -200.3333333333px hsl(339deg, 100%, 50%), 8px 57.6666666667px hsl(139deg, 100%, 50%), -116px -113.3333333333px hsl(225deg, 100%, 50%), -51px -97.3333333333px hsl(256deg, 100%, 50%), 54px -110.3333333333px hsl(66deg, 100%, 50%), 134px -242.3333333333px hsl(79deg, 100%, 50%), 151px -43.3333333333px hsl(330deg, 100%, 50%), -171px -235.3333333333px hsl(355deg, 100%, 50%), -140px -43.3333333333px hsl(199deg, 100%, 50%), -60px 60.6666666667px hsl(159deg, 100%, 50%), -13px -282.3333333333px hsl(297deg, 100%, 50%), -140px -122.3333333333px hsl(25deg, 100%, 50%), 217px -167.3333333333px hsl(267deg, 100%, 50%), 4px -97.3333333333px hsl(292deg, 100%, 50%), -107px -239.3333333333px hsl(83deg, 100%, 50%), 244px 14.6666666667px hsl(90deg, 100%, 50%), -120px -167.3333333333px hsl(7deg, 100%, 50%), 221px -34.3333333333px hsl(144deg, 100%, 50%), 224px -249.3333333333px hsl(215deg, 100%, 50%), -191px -106.3333333333px hsl(266deg, 100%, 50%), -114px -75.3333333333px hsl(171deg, 100%, 50%), -127px -224.3333333333px hsl(323deg, 100%, 50%), 131px 49.6666666667px hsl(37deg, 100%, 50%), 222px -152.3333333333px hsl(232deg, 100%, 50%), -9px -165.3333333333px hsl(29deg, 100%, 50%), -140px -45.3333333333px hsl(327deg, 100%, 50%), -106px -249.3333333333px hsl(152deg, 100%, 50%), -45px -102.3333333333px hsl(276deg, 100%, 50%), 149px -17.3333333333px hsl(204deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    -webkit-box-shadow: 145px -103.3333333333px hsl(144deg, 100%, 50%), -117px -293.3333333333px hsl(240deg, 100%, 50%), -207px -23.3333333333px hsl(337deg, 100%, 50%), -232px -241.3333333333px hsl(318deg, 100%, 50%), 163px 58.6666666667px hsl(187deg, 100%, 50%), 246px -158.3333333333px hsl(199deg, 100%, 50%), -116px -224.3333333333px hsl(332deg, 100%, 50%), 53px 52.6666666667px hsl(282deg, 100%, 50%), 49px -307.3333333333px hsl(281deg, 100%, 50%), 150px 55.6666666667px hsl(40deg, 100%, 50%), -179px -148.3333333333px hsl(172deg, 100%, 50%), 130px -13.3333333333px hsl(71deg, 100%, 50%), -23px 66.6666666667px hsl(356deg, 100%, 50%), 227px -86.3333333333px hsl(341deg, 100%, 50%), -148px -84.3333333333px hsl(161deg, 100%, 50%), -6px -76.3333333333px hsl(337deg, 100%, 50%), -165px -203.3333333333px hsl(41deg, 100%, 50%), -241px -39.3333333333px hsl(85deg, 100%, 50%), 169px -226.3333333333px hsl(265deg, 100%, 50%), -236px -189.3333333333px hsl(44deg, 100%, 50%), -177px -192.3333333333px hsl(347deg, 100%, 50%), 246px -158.3333333333px hsl(237deg, 100%, 50%), -65px -47.3333333333px hsl(21deg, 100%, 50%), 175px -217.3333333333px hsl(34deg, 100%, 50%), 201px -261.3333333333px hsl(233deg, 100%, 50%), -12px -296.3333333333px hsl(215deg, 100%, 50%), 78px -35.3333333333px hsl(32deg, 100%, 50%), -192px 47.6666666667px hsl(209deg, 100%, 50%), -182px -21.3333333333px hsl(47deg, 100%, 50%), 146px -303.3333333333px hsl(221deg, 100%, 50%), 99px -234.3333333333px hsl(55deg, 100%, 50%), -22px -77.3333333333px hsl(344deg, 100%, 50%), 90px -200.3333333333px hsl(339deg, 100%, 50%), 8px 57.6666666667px hsl(139deg, 100%, 50%), -116px -113.3333333333px hsl(225deg, 100%, 50%), -51px -97.3333333333px hsl(256deg, 100%, 50%), 54px -110.3333333333px hsl(66deg, 100%, 50%), 134px -242.3333333333px hsl(79deg, 100%, 50%), 151px -43.3333333333px hsl(330deg, 100%, 50%), -171px -235.3333333333px hsl(355deg, 100%, 50%), -140px -43.3333333333px hsl(199deg, 100%, 50%), -60px 60.6666666667px hsl(159deg, 100%, 50%), -13px -282.3333333333px hsl(297deg, 100%, 50%), -140px -122.3333333333px hsl(25deg, 100%, 50%), 217px -167.3333333333px hsl(267deg, 100%, 50%), 4px -97.3333333333px hsl(292deg, 100%, 50%), -107px -239.3333333333px hsl(83deg, 100%, 50%), 244px 14.6666666667px hsl(90deg, 100%, 50%), -120px -167.3333333333px hsl(7deg, 100%, 50%), 221px -34.3333333333px hsl(144deg, 100%, 50%), 224px -249.3333333333px hsl(215deg, 100%, 50%), -191px -106.3333333333px hsl(266deg, 100%, 50%), -114px -75.3333333333px hsl(171deg, 100%, 50%), -127px -224.3333333333px hsl(323deg, 100%, 50%), 131px 49.6666666667px hsl(37deg, 100%, 50%), 222px -152.3333333333px hsl(232deg, 100%, 50%), -9px -165.3333333333px hsl(29deg, 100%, 50%), -140px -45.3333333333px hsl(327deg, 100%, 50%), -106px -249.3333333333px hsl(152deg, 100%, 50%), -45px -102.3333333333px hsl(276deg, 100%, 50%), 149px -17.3333333333px hsl(204deg, 100%, 50%);
            box-shadow: 145px -103.3333333333px hsl(144deg, 100%, 50%), -117px -293.3333333333px hsl(240deg, 100%, 50%), -207px -23.3333333333px hsl(337deg, 100%, 50%), -232px -241.3333333333px hsl(318deg, 100%, 50%), 163px 58.6666666667px hsl(187deg, 100%, 50%), 246px -158.3333333333px hsl(199deg, 100%, 50%), -116px -224.3333333333px hsl(332deg, 100%, 50%), 53px 52.6666666667px hsl(282deg, 100%, 50%), 49px -307.3333333333px hsl(281deg, 100%, 50%), 150px 55.6666666667px hsl(40deg, 100%, 50%), -179px -148.3333333333px hsl(172deg, 100%, 50%), 130px -13.3333333333px hsl(71deg, 100%, 50%), -23px 66.6666666667px hsl(356deg, 100%, 50%), 227px -86.3333333333px hsl(341deg, 100%, 50%), -148px -84.3333333333px hsl(161deg, 100%, 50%), -6px -76.3333333333px hsl(337deg, 100%, 50%), -165px -203.3333333333px hsl(41deg, 100%, 50%), -241px -39.3333333333px hsl(85deg, 100%, 50%), 169px -226.3333333333px hsl(265deg, 100%, 50%), -236px -189.3333333333px hsl(44deg, 100%, 50%), -177px -192.3333333333px hsl(347deg, 100%, 50%), 246px -158.3333333333px hsl(237deg, 100%, 50%), -65px -47.3333333333px hsl(21deg, 100%, 50%), 175px -217.3333333333px hsl(34deg, 100%, 50%), 201px -261.3333333333px hsl(233deg, 100%, 50%), -12px -296.3333333333px hsl(215deg, 100%, 50%), 78px -35.3333333333px hsl(32deg, 100%, 50%), -192px 47.6666666667px hsl(209deg, 100%, 50%), -182px -21.3333333333px hsl(47deg, 100%, 50%), 146px -303.3333333333px hsl(221deg, 100%, 50%), 99px -234.3333333333px hsl(55deg, 100%, 50%), -22px -77.3333333333px hsl(344deg, 100%, 50%), 90px -200.3333333333px hsl(339deg, 100%, 50%), 8px 57.6666666667px hsl(139deg, 100%, 50%), -116px -113.3333333333px hsl(225deg, 100%, 50%), -51px -97.3333333333px hsl(256deg, 100%, 50%), 54px -110.3333333333px hsl(66deg, 100%, 50%), 134px -242.3333333333px hsl(79deg, 100%, 50%), 151px -43.3333333333px hsl(330deg, 100%, 50%), -171px -235.3333333333px hsl(355deg, 100%, 50%), -140px -43.3333333333px hsl(199deg, 100%, 50%), -60px 60.6666666667px hsl(159deg, 100%, 50%), -13px -282.3333333333px hsl(297deg, 100%, 50%), -140px -122.3333333333px hsl(25deg, 100%, 50%), 217px -167.3333333333px hsl(267deg, 100%, 50%), 4px -97.3333333333px hsl(292deg, 100%, 50%), -107px -239.3333333333px hsl(83deg, 100%, 50%), 244px 14.6666666667px hsl(90deg, 100%, 50%), -120px -167.3333333333px hsl(7deg, 100%, 50%), 221px -34.3333333333px hsl(144deg, 100%, 50%), 224px -249.3333333333px hsl(215deg, 100%, 50%), -191px -106.3333333333px hsl(266deg, 100%, 50%), -114px -75.3333333333px hsl(171deg, 100%, 50%), -127px -224.3333333333px hsl(323deg, 100%, 50%), 131px 49.6666666667px hsl(37deg, 100%, 50%), 222px -152.3333333333px hsl(232deg, 100%, 50%), -9px -165.3333333333px hsl(29deg, 100%, 50%), -140px -45.3333333333px hsl(327deg, 100%, 50%), -106px -249.3333333333px hsl(152deg, 100%, 50%), -45px -102.3333333333px hsl(276deg, 100%, 50%), 149px -17.3333333333px hsl(204deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=main.css.map */
