.text-2rem {
  font-size: 1.8rem;
}

::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

::-moz-placeholder {
  color: rgb(0, 0, 0);
}

:-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

::-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

::placeholder {
  color: rgb(0, 0, 0);
}

header, footer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 10%;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
}

main {
  -webkit-box-flex: 8;
  -webkit-flex: 8 8 80%;
      -ms-flex: 8 8 80%;
          flex: 8 8 80%;
}

.copyright {
  font-size: 1.7rem;
}

body {
  background-image: url("../img/backgrounds/background.png");
}

#pageContainer {
  background-color: rgb(254, 224, 144);
  border: 1px solid rgb(33, 33, 33);
  border-radius: 25px;
  margin: 10px 15px;
  padding: 15px 30px;
  min-height: calc(100vh - 30px);
}

@media (min-width: 992px) {
  #pageContainer {
    margin: 25px 50px;
    padding: 30px 50px;
    min-height: calc(100vh - 60px);
  }
}
.game body {
  font-weight: bold;
  color: rgb(0, 0, 0);
  word-wrap: break-word;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.game #snacman {
  position: absolute;
  width: auto;
  height: 18vh;
  max-width: 100%;
  max-height: 100%;
}
.game #board div div {
  background-color: rgb(254, 224, 144);
  padding: 0;
  overflow: hidden;
}
.game img {
  width: 50px;
  height: 50px;
}
.game .cell p {
  font-size: 1.5rem;
}

#gameOver {
  background-color: rgb(38, 90, 136);
  color: rgb(255, 255, 255);
  height: 55%;
  width: 55%;
  border-radius: 10px;
  position: absolute;
  z-index: 10002;
  left: 23.6%;
  top: 20%;
  text-align: center;
  font-size: 2.8em;
  visibility: hidden;
}

#bagGuy1 {
  border-radius: 100px;
}

#stars {
  font-size: 2em;
}

#playView {
  background-color: rgb(254, 224, 144);
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}

#gameLivesRemaining, #gameTimer, #gamePointTotal, #backButton {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 10%;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
}

#gameTitle {
  -webkit-box-flex: 4;
  -webkit-flex: 4 60%;
      -ms-flex: 4 60%;
          flex: 4 60%;
}

#gameTitle {
  font-size: 2.75rem;
  text-align: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-transform: uppercase;
  font-weight: 700;
}

#gameBoard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-container .cell {
  width: 19.4vw;
  height: 21.25vh;
  border: 2px solid rgb(0, 0, 0);
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.play-view footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.play-view main {
  height: 90vh;
}
.play-view header {
  height: 10vh;
}
.play-view table {
  margin: 0 auto;
}

img.life-remaining {
  position: relative;
}

td {
  width: 19.4vw;
  height: 20vh;
  border: 2px solid rgb(0, 0, 0);
  overflow: hidden;
}

.progress {
  background-color: rgb(33, 33, 33);
}

a.btn-puzzle {
  background-color: rgb(38, 90, 136);
  border-color: rgb(38, 90, 136);
  font-size: 2rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.btn-puzzle:hover {
  background-color: rgb(51, 122, 183);
}

a.btn-puzzle svg {
  fill: white;
  width: 35px;
  height: 35px;
  margin-left: 0;
}

svg.logo .limb, svg#snacman .limb {
  fill: none;
  stroke: rgb(33, 33, 33);
  stroke-miterlimit: 10;
  stroke-width: 0.5;
}
svg.logo text, svg#snacman text {
  fill: rgb(33, 33, 33);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6px;
}
svg.logo .eye-pupil, svg#snacman .eye-pupil {
  fill: rgb(33, 33, 33);
  stroke: rgb(33, 33, 33);
  stroke-miterlimit: 10;
  stroke-width: 0.25;
}
svg.logo .eye-white, svg#snacman .eye-white {
  fill: rgb(255, 255, 255);
  stroke: rgb(33, 33, 33);
  stroke-miterlimit: 10;
  stroke-width: 0.25;
}
svg.logo .mouth, svg#snacman .mouth {
  fill: rgb(165, 113, 42);
  stroke: rgb(165, 113, 42);
  stroke-miterlimit: 10;
}

.brand .logo {
  width: auto;
  max-width: 100%;
  height: 50vh;
  max-height: 100%;
}

.puzzle-container {
  row-gap: 10px;
}

@media (min-width: 768px) {
  .flex-item.puzzle {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 calc(50% - 20px);
        -ms-flex: 1 0 calc(50% - 20px);
            flex: 1 0 calc(50% - 20px);
  }

  .puzzle-container {
    -webkit-column-gap: 10px;
       -moz-column-gap: 10px;
            column-gap: 10px;
  }
}
@-webkit-keyframes die {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes die {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.die-animation {
  -webkit-animation-name: die;
          animation-name: die;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
/*# sourceMappingURL=main.css.map */
