html {
  font-size: 62.5%;
}

.text-2rem {
  font-size: 2rem;
}

::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
}

::-moz-placeholder {
  color: rgb(0, 0, 0);
}

:-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

::-ms-input-placeholder {
  color: rgb(0, 0, 0);
}

::placeholder {
  color: rgb(0, 0, 0);
}

header, footer {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 10%;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
}

main {
  -webkit-box-flex: 8;
  -webkit-flex: 8 8 80%;
      -ms-flex: 8 8 80%;
          flex: 8 8 80%;
}

.copyright {
  font-size: 2.7rem;
}

body {
  background-color: #212121;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23616161' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

#pageContainer {
  background-color: rgb(254, 224, 144);
  border: 1px solid rgb(33, 33, 33);
  border-radius: 25px;
  margin: 10px 15px;
  padding: 15px 30px;
  min-height: calc(100vh - 30px);
}

@media (min-width: 992px) {
  #pageContainer {
    margin: 25px 50px;
    padding: 30px 50px;
    min-height: calc(100vh - 60px);
  }
}
a.btn-puzzle {
  background-color: rgb(38, 90, 136);
  border-color: rgb(38, 90, 136);
  font-size: 3.2rem;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a.btn-puzzle:hover {
  background-color: rgb(51, 122, 183);
}

a.btn-puzzle svg {
  fill: white;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 0;
}

svg.logo .limb, svg#snacman .limb {
  fill: none;
  stroke: rgb(33, 33, 33);
  stroke-miterlimit: 10;
  stroke-width: 0.5;
}
svg.logo text, svg#snacman text {
  fill: rgb(33, 33, 33);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6px;
}
svg.logo .eye-pupil, svg#snacman .eye-pupil {
  fill: rgb(33, 33, 33);
  stroke: rgb(33, 33, 33);
  stroke-miterlimit: 10;
  stroke-width: 0.25;
}
svg.logo .eye-white, svg#snacman .eye-white {
  fill: rgb(255, 255, 255);
  stroke: rgb(33, 33, 33);
  stroke-miterlimit: 10;
  stroke-width: 0.25;
}
svg.logo .mouth, svg#snacman .mouth {
  fill: rgb(165, 113, 42);
  stroke: rgb(165, 113, 42);
  stroke-miterlimit: 10;
}

/* The Modal (background) */
.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: rgb(254, 224, 144);
}

h5.modal-title {
  font-size: 3rem;
}

button.modal-close {
  background: none;
  border: none;
}

.modal-body {
  font-size: 2rem;
}

.modal-header {
  border-color: black;
}

.modal-footer {
  border-color: transparent;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(25, 135, 84);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px rgb(25, 135, 84);
          box-shadow: 0 0 1px rgb(25, 135, 84);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
          transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.tooltip {
  position: relative;
  border-bottom: 1px dashed rgb(33, 33, 33);
  font-size: 1.7rem;
}

.tooltip:before {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  -webkit-transform: translateX(-14%);
      -ms-transform: translateX(-14%);
          transform: translateX(-14%);
  left: initial;
  margin-top: 10px;
  width: 160px;
  padding: 1rem;
  border-radius: 1rem;
  background: rgb(38, 90, 136);
  color: rgb(255, 255, 255);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.tooltip:after {
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.tooltip:hover:before {
  visibility: visible;
  opacity: 1;
}

.tooltip:hover:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(38, 90, 136) transparent;
  opacity: 1;
}

.brand .logo {
  width: auto;
  max-width: 100%;
  height: 50vh;
  max-height: 100%;
}

.puzzle-container {
  row-gap: 1rem;
}

.total-score {
  font-size: 5rem;
  line-height: 1;
}

a.profile-link {
  color: rgb(33, 33, 33);
  text-decoration: none;
}

button.settings-button {
  background: transparent;
  border: none;
}

@media (min-width: 768px) {
  .flex-item.puzzle {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 calc(50% - 2rem);
        -ms-flex: 1 0 calc(50% - 2rem);
            flex: 1 0 calc(50% - 2rem);
  }

  .puzzle-container {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
  }
}
body.profile h1 {
  font-size: 5rem;
}

.table-results {
  font-size: 1.8rem;
}
.table-results thead {
  background: rgb(38, 90, 136);
  color: rgb(255, 255, 255);
}
.table-results tr {
  border-color: transparent;
}
.table-results caption {
  color: rgb(33, 33, 33);
  font-weight: 300;
}
.table-results th.table-sort-column {
  cursor: pointer;
}
.table-results.table > :not(caption) > * > * {
  padding: 0.5rem 1.5rem;
}

svg.win-icon {
  fill: rgb(25, 135, 84);
}
svg.lose-icon {
  fill: rgb(220, 53, 69);
}

.total-user-score {
  font-size: 3.5rem;
}

@media (min-width: 1200px) {
  table#gameResultsTable {
    width: 50vw;
    margin: auto;
  }

  .table-results {
    font-size: 3rem;
    line-height: 3;
  }
}
body.game {
  overflow: hidden;
}

.game #snacman {
  position: absolute;
  width: auto;
  height: 18vh;
  max-width: 100%;
  max-height: 100%;
}
.game img {
  width: 50px;
  height: 50px;
}
.game .cell p {
  font-size: 2rem;
  font-weight: 700;
}

#playView {
  background-color: rgb(254, 224, 144);
  overflow: hidden;
  width: 99vw;
  margin: auto;
  height: 98vh;
  top: 1vh;
  position: relative;
}

#gameLivesRemaining, #timer, #gamePointTotal, #backButton {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 10%;
      -ms-flex: 1 0 10%;
          flex: 1 0 10%;
}

#gameTitle {
  -webkit-box-flex: 4;
  -webkit-flex: 4 0 60%;
      -ms-flex: 4 0 60%;
          flex: 4 0 60%;
}

#gameTitle {
  font-size: 2.75rem;
  text-align: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  text-transform: uppercase;
  font-weight: 700;
}

#gameBoard {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.game-container .cell {
  width: 19.6vw;
  height: 22.5vh;
  -webkit-box-shadow: 2px 0 0 0 rgb(0, 0, 0), 0 2px 0 0 rgb(0, 0, 0), 2px 2px 0 0 rgb(0, 0, 0), 2px 0 0 0 rgb(0, 0, 0) inset, 0 2px 0 0 rgb(0, 0, 0) inset;
          box-shadow: 2px 0 0 0 rgb(0, 0, 0), 0 2px 0 0 rgb(0, 0, 0), 2px 2px 0 0 rgb(0, 0, 0), 2px 0 0 0 rgb(0, 0, 0) inset, 0 2px 0 0 rgb(0, 0, 0) inset;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(254, 224, 144);
}

.play-view footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.play-view main {
  height: 94vh;
}
.play-view header {
  height: 6vh;
  padding: 20px;
}
.play-view table {
  margin: 0 auto;
}
.play-view #timer, .play-view #gamePointTotal {
  font-size: 3rem;
  font-weight: 700;
}

img.life-remaining {
  position: relative;
}

.game td {
  width: 19.6vw;
  height: 22.5vh;
  border: 2px solid rgb(0, 0, 0);
  overflow: hidden;
}

.progress {
  background-color: rgb(33, 33, 33);
}

#backButton {
  text-align: right;
}

h1.game-title {
  font-weight: 700;
}

#gameOver {
  visibility: hidden;
  background-color: rgb(38, 90, 136);
  color: rgb(255, 255, 255);
  position: absolute;
  top: 3vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  border-radius: 10px;
  width: 98vw;
  height: 93vh;
  z-index: 1;
  margin: auto;
  padding: 50px 20px;
}
#gameOver h2 {
  font-size: 15vw;
}
#gameOver #resultText {
  font-size: 7vw;
}
#gameOver #score {
  font-size: 10vw;
}
#gameOver span#gameScore {
  display: block;
}
#gameOver .btn {
  width: 100%;
  background-color: rgb(254, 224, 144);
  color: rgb(33, 33, 33);
  border-color: rgb(254, 224, 144);
  font-size: 2rem;
}
#gameOver .game-over-option {
  width: 100%;
}

@media (min-width: 992px) {
  #gameOver #resultText {
    font-size: 3rem;
  }
  #gameOver #score {
    font-size: 2rem;
  }
  #gameOver span#gameScore {
    display: inline;
  }
}
@media (min-width: 1200px) {
  #gameOver .btn {
    width: 650px;
  }
  #gameOver .game-over-option {
    width: auto;
  }
}
@-webkit-keyframes die {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes die {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.die-animation {
  -webkit-animation-name: die;
          animation-name: die;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: -137px -266.3333333333px hsl(134deg, 100%, 50%), 72px -162.3333333333px hsl(219deg, 100%, 50%), 195px -61.3333333333px hsl(291deg, 100%, 50%), -135px -73.3333333333px hsl(10deg, 100%, 50%), 86px -183.3333333333px hsl(104deg, 100%, 50%), -52px -120.3333333333px hsl(90deg, 100%, 50%), -169px -230.3333333333px hsl(17deg, 100%, 50%), -220px -59.3333333333px hsl(131deg, 100%, 50%), -104px -105.3333333333px hsl(40deg, 100%, 50%), -75px -33.3333333333px hsl(260deg, 100%, 50%), 198px -39.3333333333px hsl(23deg, 100%, 50%), -201px -124.3333333333px hsl(137deg, 100%, 50%), -187px -200.3333333333px hsl(122deg, 100%, 50%), -52px -48.3333333333px hsl(206deg, 100%, 50%), 60px -316.3333333333px hsl(22deg, 100%, 50%), -216px -102.3333333333px hsl(299deg, 100%, 50%), 13px 58.6666666667px hsl(48deg, 100%, 50%), 236px -130.3333333333px hsl(326deg, 100%, 50%), -60px 66.6666666667px hsl(266deg, 100%, 50%), 8px -33.3333333333px hsl(318deg, 100%, 50%), 43px -61.3333333333px hsl(327deg, 100%, 50%), 110px -265.3333333333px hsl(335deg, 100%, 50%), -18px -86.3333333333px hsl(296deg, 100%, 50%), -100px -33.3333333333px hsl(278deg, 100%, 50%), 17px -172.3333333333px hsl(283deg, 100%, 50%), 121px -77.3333333333px hsl(283deg, 100%, 50%), 179px -25.3333333333px hsl(86deg, 100%, 50%), -3px -297.3333333333px hsl(194deg, 100%, 50%), 4px -237.3333333333px hsl(191deg, 100%, 50%), 237px -296.3333333333px hsl(334deg, 100%, 50%), -38px -94.3333333333px hsl(215deg, 100%, 50%), -33px -162.3333333333px hsl(110deg, 100%, 50%), 81px -73.3333333333px hsl(160deg, 100%, 50%), -249px -214.3333333333px hsl(106deg, 100%, 50%), 190px -124.3333333333px hsl(338deg, 100%, 50%), -67px -10.3333333333px hsl(326deg, 100%, 50%), -203px -217.3333333333px hsl(67deg, 100%, 50%), 37px -289.3333333333px hsl(332deg, 100%, 50%), -50px 30.6666666667px hsl(198deg, 100%, 50%), 12px -215.3333333333px hsl(239deg, 100%, 50%), -222px -37.3333333333px hsl(74deg, 100%, 50%), -55px -330.3333333333px hsl(49deg, 100%, 50%), -92px -147.3333333333px hsl(303deg, 100%, 50%), -130px 7.6666666667px hsl(155deg, 100%, 50%), 139px -38.3333333333px hsl(140deg, 100%, 50%), 97px -109.3333333333px hsl(230deg, 100%, 50%), -1px -285.3333333333px hsl(1deg, 100%, 50%), 154px 51.6666666667px hsl(24deg, 100%, 50%), -46px -111.3333333333px hsl(347deg, 100%, 50%), -223px -303.3333333333px hsl(8deg, 100%, 50%), 234px 14.6666666667px hsl(31deg, 100%, 50%), -97px -148.3333333333px hsl(114deg, 100%, 50%), 55px -72.3333333333px hsl(303deg, 100%, 50%), 11px -70.3333333333px hsl(270deg, 100%, 50%), -203px -278.3333333333px hsl(196deg, 100%, 50%), -144px -55.3333333333px hsl(122deg, 100%, 50%), -79px 22.6666666667px hsl(353deg, 100%, 50%), 115px -164.3333333333px hsl(264deg, 100%, 50%), 46px -131.3333333333px hsl(265deg, 100%, 50%), -57px -269.3333333333px hsl(99deg, 100%, 50%), -128px 41.6666666667px hsl(237deg, 100%, 50%);
            box-shadow: -137px -266.3333333333px hsl(134deg, 100%, 50%), 72px -162.3333333333px hsl(219deg, 100%, 50%), 195px -61.3333333333px hsl(291deg, 100%, 50%), -135px -73.3333333333px hsl(10deg, 100%, 50%), 86px -183.3333333333px hsl(104deg, 100%, 50%), -52px -120.3333333333px hsl(90deg, 100%, 50%), -169px -230.3333333333px hsl(17deg, 100%, 50%), -220px -59.3333333333px hsl(131deg, 100%, 50%), -104px -105.3333333333px hsl(40deg, 100%, 50%), -75px -33.3333333333px hsl(260deg, 100%, 50%), 198px -39.3333333333px hsl(23deg, 100%, 50%), -201px -124.3333333333px hsl(137deg, 100%, 50%), -187px -200.3333333333px hsl(122deg, 100%, 50%), -52px -48.3333333333px hsl(206deg, 100%, 50%), 60px -316.3333333333px hsl(22deg, 100%, 50%), -216px -102.3333333333px hsl(299deg, 100%, 50%), 13px 58.6666666667px hsl(48deg, 100%, 50%), 236px -130.3333333333px hsl(326deg, 100%, 50%), -60px 66.6666666667px hsl(266deg, 100%, 50%), 8px -33.3333333333px hsl(318deg, 100%, 50%), 43px -61.3333333333px hsl(327deg, 100%, 50%), 110px -265.3333333333px hsl(335deg, 100%, 50%), -18px -86.3333333333px hsl(296deg, 100%, 50%), -100px -33.3333333333px hsl(278deg, 100%, 50%), 17px -172.3333333333px hsl(283deg, 100%, 50%), 121px -77.3333333333px hsl(283deg, 100%, 50%), 179px -25.3333333333px hsl(86deg, 100%, 50%), -3px -297.3333333333px hsl(194deg, 100%, 50%), 4px -237.3333333333px hsl(191deg, 100%, 50%), 237px -296.3333333333px hsl(334deg, 100%, 50%), -38px -94.3333333333px hsl(215deg, 100%, 50%), -33px -162.3333333333px hsl(110deg, 100%, 50%), 81px -73.3333333333px hsl(160deg, 100%, 50%), -249px -214.3333333333px hsl(106deg, 100%, 50%), 190px -124.3333333333px hsl(338deg, 100%, 50%), -67px -10.3333333333px hsl(326deg, 100%, 50%), -203px -217.3333333333px hsl(67deg, 100%, 50%), 37px -289.3333333333px hsl(332deg, 100%, 50%), -50px 30.6666666667px hsl(198deg, 100%, 50%), 12px -215.3333333333px hsl(239deg, 100%, 50%), -222px -37.3333333333px hsl(74deg, 100%, 50%), -55px -330.3333333333px hsl(49deg, 100%, 50%), -92px -147.3333333333px hsl(303deg, 100%, 50%), -130px 7.6666666667px hsl(155deg, 100%, 50%), 139px -38.3333333333px hsl(140deg, 100%, 50%), 97px -109.3333333333px hsl(230deg, 100%, 50%), -1px -285.3333333333px hsl(1deg, 100%, 50%), 154px 51.6666666667px hsl(24deg, 100%, 50%), -46px -111.3333333333px hsl(347deg, 100%, 50%), -223px -303.3333333333px hsl(8deg, 100%, 50%), 234px 14.6666666667px hsl(31deg, 100%, 50%), -97px -148.3333333333px hsl(114deg, 100%, 50%), 55px -72.3333333333px hsl(303deg, 100%, 50%), 11px -70.3333333333px hsl(270deg, 100%, 50%), -203px -278.3333333333px hsl(196deg, 100%, 50%), -144px -55.3333333333px hsl(122deg, 100%, 50%), -79px 22.6666666667px hsl(353deg, 100%, 50%), 115px -164.3333333333px hsl(264deg, 100%, 50%), 46px -131.3333333333px hsl(265deg, 100%, 50%), -57px -269.3333333333px hsl(99deg, 100%, 50%), -128px 41.6666666667px hsl(237deg, 100%, 50%);
  }
}
@keyframes bang {
  to {
    -webkit-box-shadow: -137px -266.3333333333px hsl(134deg, 100%, 50%), 72px -162.3333333333px hsl(219deg, 100%, 50%), 195px -61.3333333333px hsl(291deg, 100%, 50%), -135px -73.3333333333px hsl(10deg, 100%, 50%), 86px -183.3333333333px hsl(104deg, 100%, 50%), -52px -120.3333333333px hsl(90deg, 100%, 50%), -169px -230.3333333333px hsl(17deg, 100%, 50%), -220px -59.3333333333px hsl(131deg, 100%, 50%), -104px -105.3333333333px hsl(40deg, 100%, 50%), -75px -33.3333333333px hsl(260deg, 100%, 50%), 198px -39.3333333333px hsl(23deg, 100%, 50%), -201px -124.3333333333px hsl(137deg, 100%, 50%), -187px -200.3333333333px hsl(122deg, 100%, 50%), -52px -48.3333333333px hsl(206deg, 100%, 50%), 60px -316.3333333333px hsl(22deg, 100%, 50%), -216px -102.3333333333px hsl(299deg, 100%, 50%), 13px 58.6666666667px hsl(48deg, 100%, 50%), 236px -130.3333333333px hsl(326deg, 100%, 50%), -60px 66.6666666667px hsl(266deg, 100%, 50%), 8px -33.3333333333px hsl(318deg, 100%, 50%), 43px -61.3333333333px hsl(327deg, 100%, 50%), 110px -265.3333333333px hsl(335deg, 100%, 50%), -18px -86.3333333333px hsl(296deg, 100%, 50%), -100px -33.3333333333px hsl(278deg, 100%, 50%), 17px -172.3333333333px hsl(283deg, 100%, 50%), 121px -77.3333333333px hsl(283deg, 100%, 50%), 179px -25.3333333333px hsl(86deg, 100%, 50%), -3px -297.3333333333px hsl(194deg, 100%, 50%), 4px -237.3333333333px hsl(191deg, 100%, 50%), 237px -296.3333333333px hsl(334deg, 100%, 50%), -38px -94.3333333333px hsl(215deg, 100%, 50%), -33px -162.3333333333px hsl(110deg, 100%, 50%), 81px -73.3333333333px hsl(160deg, 100%, 50%), -249px -214.3333333333px hsl(106deg, 100%, 50%), 190px -124.3333333333px hsl(338deg, 100%, 50%), -67px -10.3333333333px hsl(326deg, 100%, 50%), -203px -217.3333333333px hsl(67deg, 100%, 50%), 37px -289.3333333333px hsl(332deg, 100%, 50%), -50px 30.6666666667px hsl(198deg, 100%, 50%), 12px -215.3333333333px hsl(239deg, 100%, 50%), -222px -37.3333333333px hsl(74deg, 100%, 50%), -55px -330.3333333333px hsl(49deg, 100%, 50%), -92px -147.3333333333px hsl(303deg, 100%, 50%), -130px 7.6666666667px hsl(155deg, 100%, 50%), 139px -38.3333333333px hsl(140deg, 100%, 50%), 97px -109.3333333333px hsl(230deg, 100%, 50%), -1px -285.3333333333px hsl(1deg, 100%, 50%), 154px 51.6666666667px hsl(24deg, 100%, 50%), -46px -111.3333333333px hsl(347deg, 100%, 50%), -223px -303.3333333333px hsl(8deg, 100%, 50%), 234px 14.6666666667px hsl(31deg, 100%, 50%), -97px -148.3333333333px hsl(114deg, 100%, 50%), 55px -72.3333333333px hsl(303deg, 100%, 50%), 11px -70.3333333333px hsl(270deg, 100%, 50%), -203px -278.3333333333px hsl(196deg, 100%, 50%), -144px -55.3333333333px hsl(122deg, 100%, 50%), -79px 22.6666666667px hsl(353deg, 100%, 50%), 115px -164.3333333333px hsl(264deg, 100%, 50%), 46px -131.3333333333px hsl(265deg, 100%, 50%), -57px -269.3333333333px hsl(99deg, 100%, 50%), -128px 41.6666666667px hsl(237deg, 100%, 50%);
            box-shadow: -137px -266.3333333333px hsl(134deg, 100%, 50%), 72px -162.3333333333px hsl(219deg, 100%, 50%), 195px -61.3333333333px hsl(291deg, 100%, 50%), -135px -73.3333333333px hsl(10deg, 100%, 50%), 86px -183.3333333333px hsl(104deg, 100%, 50%), -52px -120.3333333333px hsl(90deg, 100%, 50%), -169px -230.3333333333px hsl(17deg, 100%, 50%), -220px -59.3333333333px hsl(131deg, 100%, 50%), -104px -105.3333333333px hsl(40deg, 100%, 50%), -75px -33.3333333333px hsl(260deg, 100%, 50%), 198px -39.3333333333px hsl(23deg, 100%, 50%), -201px -124.3333333333px hsl(137deg, 100%, 50%), -187px -200.3333333333px hsl(122deg, 100%, 50%), -52px -48.3333333333px hsl(206deg, 100%, 50%), 60px -316.3333333333px hsl(22deg, 100%, 50%), -216px -102.3333333333px hsl(299deg, 100%, 50%), 13px 58.6666666667px hsl(48deg, 100%, 50%), 236px -130.3333333333px hsl(326deg, 100%, 50%), -60px 66.6666666667px hsl(266deg, 100%, 50%), 8px -33.3333333333px hsl(318deg, 100%, 50%), 43px -61.3333333333px hsl(327deg, 100%, 50%), 110px -265.3333333333px hsl(335deg, 100%, 50%), -18px -86.3333333333px hsl(296deg, 100%, 50%), -100px -33.3333333333px hsl(278deg, 100%, 50%), 17px -172.3333333333px hsl(283deg, 100%, 50%), 121px -77.3333333333px hsl(283deg, 100%, 50%), 179px -25.3333333333px hsl(86deg, 100%, 50%), -3px -297.3333333333px hsl(194deg, 100%, 50%), 4px -237.3333333333px hsl(191deg, 100%, 50%), 237px -296.3333333333px hsl(334deg, 100%, 50%), -38px -94.3333333333px hsl(215deg, 100%, 50%), -33px -162.3333333333px hsl(110deg, 100%, 50%), 81px -73.3333333333px hsl(160deg, 100%, 50%), -249px -214.3333333333px hsl(106deg, 100%, 50%), 190px -124.3333333333px hsl(338deg, 100%, 50%), -67px -10.3333333333px hsl(326deg, 100%, 50%), -203px -217.3333333333px hsl(67deg, 100%, 50%), 37px -289.3333333333px hsl(332deg, 100%, 50%), -50px 30.6666666667px hsl(198deg, 100%, 50%), 12px -215.3333333333px hsl(239deg, 100%, 50%), -222px -37.3333333333px hsl(74deg, 100%, 50%), -55px -330.3333333333px hsl(49deg, 100%, 50%), -92px -147.3333333333px hsl(303deg, 100%, 50%), -130px 7.6666666667px hsl(155deg, 100%, 50%), 139px -38.3333333333px hsl(140deg, 100%, 50%), 97px -109.3333333333px hsl(230deg, 100%, 50%), -1px -285.3333333333px hsl(1deg, 100%, 50%), 154px 51.6666666667px hsl(24deg, 100%, 50%), -46px -111.3333333333px hsl(347deg, 100%, 50%), -223px -303.3333333333px hsl(8deg, 100%, 50%), 234px 14.6666666667px hsl(31deg, 100%, 50%), -97px -148.3333333333px hsl(114deg, 100%, 50%), 55px -72.3333333333px hsl(303deg, 100%, 50%), 11px -70.3333333333px hsl(270deg, 100%, 50%), -203px -278.3333333333px hsl(196deg, 100%, 50%), -144px -55.3333333333px hsl(122deg, 100%, 50%), -79px 22.6666666667px hsl(353deg, 100%, 50%), 115px -164.3333333333px hsl(264deg, 100%, 50%), 46px -131.3333333333px hsl(265deg, 100%, 50%), -57px -269.3333333333px hsl(99deg, 100%, 50%), -128px 41.6666666667px hsl(237deg, 100%, 50%);
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=main.css.map */
