//colors
$black: rgba(0,0,0,1);
$white: rgba(255,255,255,1);
$yellow: rgba(254,224,144,1);
$blue: rgba(38,90,136,1);
$light-blue: rgba(51,122,183,1);
$gray: rgba(33,33,33,1);
$dark-gray: rgba(35,31,32,1);
$brown-hamburger-bun: rgba(165,113,42,1);
